body{
  background-image: url("img/background.jpg");
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  transition: all .2s ease;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI Variable', sans-serif;
  user-select: none;
}

.center{ /* centers the div */
  display: flex;
  justify-content: center;
}

.startmenu{
  position: absolute; /* makes it movable */
  backdrop-filter: blur(20px); /* blurs the background */
  background-color: rgba(255,255,255,.80); /* makes the background white */
  bottom: -95%; /* positions it */
  height: 90%;
  width: 625px;
  transition: all .2s cubic-bezier(.79,.14,.15,.86);
  border-radius: 8px; /* rounds the corners */
}

.sTop{
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pinnedlabel{
  margin-top: -5px;
  margin-left: 45px;
}

.allapps img{
  height: 20px;
  border-radius: 4px; /* rounds the corners */
  margin-right: 45px;
}

.sAppscontainer{ /*centers the icons with a display:grid */
  display: grid;
  justify-items: center;
}

.sApps{
  position: absolute;
  display: grid; /* makes it a grid */
  grid-template-columns: auto auto auto auto auto auto; /* 6 columns */
}

.starticons img{
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width: 30px;
}

.starticons{
  width: 100px;
  font-size: 13px;
}

.starticons:hover{
  background: white;
  width: 100px;
  border-radius: 5px;
}

.startlabels{
  margin-top: 3px
}

.taskbar{
  -webkit-backdrop-filter: saturate(3) blur(20px);
  backdrop-filter: saturate(3) blur(20px);
  background-color: rgba(255,255,255,.80);
  width: 100%;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  margin:0;
  padding:0;
  height: 48px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.taskbariconscenter{
  display: flex;
}

.taskbariconsimg {
  width: 25px;
  transition: all .1s;
}

.taskbaricons{
  margin: 0px 2.5px;
  padding: 7px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.searchmenu{
  position: absolute;
  backdrop-filter: blur(20px);
  background-color: rgba(255,255,255,.80);
  height: 90%;
  width: 625px;
  bottom: -95%;
  transition: all .2s cubic-bezier(.79,.14,.15,.86);
  border-radius: 8px; 
}

.searchbar {
  margin: 25px 20px 0px 20px; /* top, right, bottom, left */
  height: 38px;
  width: 580px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid lightgray;
  border-bottom: 2px solid var(--accent-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.searchheader{
  font-weight: 600;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 15px;
}

.searchtopapps{
  margin: 0 20px;
  display: flex;
}

.searchtopappslabel{
  margin: 0px;
  margin-top: 5px;
}

.searchtopapp{
  font-size: 13px;
  background: white;
  border: solid 1px lightgray;
  width: 100px;
  margin-right: 5px;
  margin-top: 12px;
  padding: 18px 10px;
  border-radius: 5px;
}

.searchtopapp img{
  display: block;
  margin: 0 auto;
  width: 30px;
}

.quicksearches{
  margin: 15px 15px;
  width: 580px;
}

.quicksearch{
  padding: 15px 0px;
  display: flex;
  align-items: center;
}

.edgeapp {
  --fakeMica: #f3f3f3 radial-gradient(#eff4f9 75%,#f3f3f3 100%) no-repeat fixed;
  position: fixed;
  box-shadow: 1px 10px 50px #969696;
  border-radius: 10px;
  border: 1.5px solid #B4B4B4;
  background: var(--fakeMica);
  overflow: hidden;
  width: 60%;
  height: 75%;
  top: 8%;
  left: 20%;
}

.edgeappheader{
  display:flex;
  justify-content: space-between;
  max-height: 38px;
  height: 38px;
  min-height: 38px;
  overflow: hidden;
}

.headerrightside {
  display: flex;
  align-items: center;
}

.headerrightside img{
  width: 15px;
  margin: 15px;
}

.headerleftside {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.headerleftside img{
  width: 20px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.edgetab{
  background-color: white;
  box-shadow: 1px 3px 10px lightgray;
  width: 200px;
  display:flex;
  align-items: center;
  margin-left: 16px;
  height: 30px;
  border-radius: 3px;
}

.edgeurlarea{
  background: var(--fakeMica);
  display: flex;
  align-items: center;
  height: 35px;
  max-height: 35px;
  overflow: hidden;
}

.edgeurlarea img{
  width: 20px;
  margin: 10px;
}

.edgeurlbar{
  border: none;
  height: 30px;
  box-shadow: .1px .1px 5px rgb(230, 230, 230);
  border-radius: 3px;
  margin: 15px;
  width: 100%;
  overflow: hidden;
}

.edgeurlbar:focus{
  outline: none;
}

.edgeappIframe{
  height: calc(100% - 72px);
  min-height: calc(100% - 72px);
  width: 100%;
  border-width: 0px;
}